*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//-------------------GENERAL------------------

#container{
    margin: 0 30px;
}

$input-height: 25px;

//-------------------MAIN--------------------

h2{
    margin-top: 80px;
    text-align: center;
    font-size: 40px;
}

form{
    font-size: 20px;
    background-color: #9f9191;
    border: 3px solid black;
    width: 70%;
    height: 350px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

form input[type="button"]{
    height: 40px;
    width: 100px;
}

form input[type="email"]{
    height: $input-height;
}

form input[type="password"]{
    height: $input-height;
}