<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
        <!-- Bootstrap -->
        <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!--       {{content}}-->
    <div id="container">
        <header></header>
        <main>
            <div class="container">
                <div class="login-container">
                        <div id="output"></div>
                        <div class="avatar"></div>
                        <div class="form-box">
                            <form>
                                <input name="user" type="text" id="email" placeholder="email">
                                <input type="password" id="pass" placeholder="password">
                                <input class="btn btn-info btn-block login" id="login" type="button" value="Login">
                            </form>
                            <div id="message"></div>
                            <div>No tienes cuenta? <a id="register">Register aqui</a></div>
                            <div>Forgot your password? <a id="recoverPass">Recover it</a></div>
                        </div>
                </div>    
            </div>
        </main>
        <footer></footer>
    </div>
       <script src="../vendors/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../js/login.js"></script>
    </body>
</html>
