<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
        <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!--       {{content}}-->
    <header>
    </header>
    <main>
        <div class="container">
            <div class="login-container">
                <div id="output"></div>
                <div><h2>Modificar contraseña</h2></div>
                <div class="form-box">
                    <form action="" method="">
                        <input type="password" id="pass" placeholder="">
                        <input type="password" id="pass2" placeholder="">
                        <button class="btn btn-info btn-block login" id="confirmar" type="submit">Login</button>
                    </form>
                    <div id="message"></div>
                </div>
            </div>    
        </div>      
    </main>
    <footer>
    </footer>
        <script src="../vendors/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../js/modifyPass.js"></script>
    </body>
</html>