<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
        <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <header>
    </header>
    <main>
            <div class="container">
                <div class="login-container">
                        <div id="output"></div>
                        <div><h2>Recuperar contraseña</h2></div>
                        <div class="form-box">
                        
                            <form action="" method="">
                                <input type="text" id="email" placeholder="email">
                                <input class="btn btn-info btn-block login" id="recoverPass" type="button" value="Recuperar contraseña">
                            </form>
                            <div id="message"></div>
                        </div>
                </div>    
            </div>
    </main>
    <footer>
    </footer>
        <script src="../vendors/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../js/recoverPass.js"></script>
    </body>
</html>