<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
        <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/style.css" rel="stylesheet" type="text/css">  
    </head>
    <body>
<!--        <h2>Registrar usuario</h2>
       <span id="message"></span>
        <form>
            <label>Your name:</label>
            <p><input type="name" id="name"></p> 
            <label>Email:</label>
            <p><input type="email" id="email"></p> 
            <label>Contraseña:</label>
            <p><input type="password" id="pass"></p>
            <p><input type="button" value="Register" id="submit"></p>
        </form> -->
            <div class="container">
                <div class="login-container">
                        <div id="output"></div>
                        <div><h2>Register new account</h2></div>
                        <div class="form-box">
                            <form action="" method="">
                                <input type="name" name="name" id="name" placeholder="your name">
                                <input name="user" type="text" id="email" placeholder="email">
                                <input type="password" id="pass" placeholder="password">
                                <button class="btn btn-info btn-block login" type="submit" id="submit">Register</button>
                            </form>
                            <div id="message"></div>
                        </div>
                </div>    
            </div>

    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../js/userreg.js"></script>
        <!-- <script>
Template.registerHelper("log", function(something) {
console.log(something);
});</script> -->
    </body>
</html>